/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300') */

@import url('https://fonts.googleapis.com/css?family=Aldrich|Cabin+Sketch|Julius+Sans+One|Special+Elite|Ubuntu+Mono|Black+Han+Sans|Montserrat|Lora');

/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300'); */


h1, h2 {
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.App {
  text-align: center;
}

div {
  font-family: 'Aldrich', sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
