@import url('https://fonts.googleapis.com/css?family=Aldrich|Cabin+Sketch|Julius+Sans+One|Special+Elite|Ubuntu+Mono|Black+Han+Sans|Montserrat|Lora');

/* .teamList {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 2px;
  border-radius: 4px;
  background-color: black;
  resize: none;
  border: 2px solid white;
  align-items: center;
  text-align: center;
  padding-left: 48%;
  padding-right: 48%;
  color: white
} */

.event-buttons {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  background-color: #000000;
  border: 2px solid black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
}

.inOrOut {
    text-transform: lowercase;
}
