<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/App.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>PayPal integration</title>
  </head>
  <body>
    <div class="App" id="App">
      <!-- <div id=class="grid-container">
        <div id="header" class="eventname"></div>

  <div id="left1" class="left1"></div>
  <div id="right1" class="right1"></div>
  <div id="left2" class="left2"></div>
  <div id="right2" class="right2"></div>
  <div id="left3" class="left3"></div>
  <div id="right3" class="right3"></div>
  <div id="left4" class="left4"></div>
  <div id="right4" class="right4"></div>

      </div> -->


    </div>
    <script src="/interface.js"></script>
  </body>
</html>
