<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/App.css">
    <script src="/newsFeed.js"></script>
    <script src="/interface.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Success</title>
  </head>
  <body>
    <div class="App">
      <img src="/logo.png" alt="I'm in Logo" className="logo-img" width="100px"/>
    <h1>Thanks for your payment!!!</h1>



    </div>

  </body>
</html>
