/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300') */

@import url('https://fonts.googleapis.com/css?family=Aldrich|Cabin+Sketch|Julius+Sans+One|Special+Elite|Ubuntu+Mono|Black+Han+Sans|Montserrat|Lora');

/* @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300'); */

.error { border: 1px solid red; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

h1, h2 {
  margin:2px;
}
 .left1 ,.left2 ,.left3 ,.left4 {
    text-align:right;
    padding-right: 10px ;
    /* font-weight: bold; */
    text-transform: uppercase;
  }

 .right1 ,.right2 ,.right3 ,.right4{
  text-align:left;
  padding-left: 10px ;
}

.centerStyle{
  text-align:center;
  padding: 10px 2px 10px 2px;
  text-transform: uppercase;
}

.eventname { grid-area: top; }
.left1 { grid-area: left1; }
.right1 { grid-area: right1; }
.left2 { grid-area: left2; }
.right2 { grid-area: right2; }
.left3{ grid-area: left3; }
.right3 { grid-area: right3; }
.left4 { grid-area: left4; }
.right4 { grid-area: right4; }

.grid-container {
  display: grid;
  grid-template-areas:
    'top top'
    'left1 right1'
    'left2 right2'
    'left3 right3'
    'left4 right4';
  grid-gap: 5px;

  /* padding: 5px; */
}

.grid-container > div {

  /* text-align: center; */
  /* padding: 5px 0; */
  /* font-size: 30px; */
}

.logo-img {
  margin-top: 25px;
  margin-bottom: 25px;
}

button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #000000;
  border: 2px solid black;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button:disabled {
    background: #dddddd;
    color:black;
    border: none;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.App {
  text-align: center;
}

.centered {
  text-align: center;
}

.WelcomeText {
  font-family: 'Lora', sans-serif;
  margin-top: 20px;
  padding: 5px 50px 5px 50px
  /* max-width:100px;
  display:inline; */
  /* text-align:center;
  width:50%;
  /* height: 100vh; /* Magic here */

  /* width:100vh;
display: flex;
justify-content: center;
align-items: center;  */

}

div {
  font-family: 'montserrat', sans-serif
}

label {
  font-size:12px;
  vertical-align: top;
}

h4 {
  font-size:14px;
  text-transform: none;
}

input[type="text"]
{
    font-family: 'montserrat', sans-serif;
    font-size:12px;
    margin:10px;
    border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
}
input[type="time"]
{
    font-family: 'montserrat', sans-serif;
    font-size:12px;
    margin:10px;
    border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
}
input[type="date"]
{
    font-family: 'montserrat', sans-serif;
    font-size:12px;
    margin:10px;
    border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
}

input[type="password"]
{
    font-family: 'montserrat', sans-serif;
    font-size:12px;
    margin:10px;
    border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
}

textarea
{
    font-family: 'montserrat', sans-serif;
    font-size:12px;
    margin:10px;
    border: 2px solid rgb(112, 112, 112);
  border-radius: 4px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
